html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #a9fdac;
  margin-bottom: 60px;
  background: linear-gradient(to top, #223843, #32a287);
}

a, a:visited {
  color: #f1ffe7;
}

a:hover {
  color: #223843;
}